:root{
--colorAmarrillo:#FECB01;
--colorNaraja:#FA550C;
--colorBlanco:#FEFCFA;
--colorMarron:#B26244;
--colorVerde:#63A496;
--colorCeleste:#3EBDFC;
--colorGris:#BAB8AD;

--font-frances: "Fraunces", serif;
--font-barlow:"Barlow", sans-serif;
}